// BLUES
$blue-one: #163a49;
$blue-two: #1bb8e3;

// GRAYS
$gray-one: #363636;
$gray-two: #969696;

// ORANGES
$orange-one: #e85837;

// WHITES
$white-one: #ffffff;

// TRANSPARENTS
$transparent-one: transparent; 
$transparent-two: rgba(0, 0, 0, 15%);